*{
    box-sizing: border-box;
    margin:0px;
    font-family: sans-serif;
}
:root{
    --footerBackground:#0A142F;
    --bodyBackground: rgb(255, 255, 255);
    --buttonColor:rgb(255, 255, 255);
    --hoverBackground:#0095ff;
}
.navigation__logo{
    width:2em;
}
.navigation__photo{
    width:100%;
}
.navigation__button{
    display: none;
}
button{
    background:var(--buttonColor);
    font-weight: bold;
    min-width: 6.5em;
    padding:0.5em;
    border:none;
    border-radius: 1em;
    background-color: #0A142F;
    margin-top:1em;
    color:white;
    transition: transform 300ms linear;
}
button:hover{
    color:white;
    transform: scale(1.2);
    background-color:#0095ff;
    box-shadow: 0px 0px 0.5em black;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 5px;;

}
.navigation__link{
    text-decoration: none;
    color:rgb(22, 16, 16);
}

.navigation__menu{
    list-style-type: none;
}
body{
    background-color: var(--bodyBackground);
    display: flex;
    flex-direction: column;
    min-height:100vh;
    justify-content: space-between;
}
.footer{
    background-color: var(--footerBackground);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding:1em;
}
.footer__address{
    text-align: center;
    color: white;
}
.footer__header{
    margin:1em 0em;
}
.footer__social-links{
   min-width:300px;
}
.footer__links-header{
    text-align: center;
    padding: 1em;
    color:white;
}
.footer__links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.7em;
}
.footer__links a{
    color:white;
}

@media all and (max-width:782px){
    .navigation__menu{
        position: fixed;
        inset: 5px 0 auto 30vw;
        background: hsla(0, 0%, 25%, 0.5);
        backdrop-filter:blur(10px);
        transform:translatex(70vw);
        transition: transform 200ms linear;
        z-index: 999;
    }
    .navigation__button{
        display: block;
        position: fixed;
        right:5vw;
        top:5px;
        z-index: 1000;
    }
    .navigation__link--current{
        color: white;
    }
    .navigation__button:active{
        transform: scale(1.2);
    }
      
   .navigation__item{
       color: black;
        font-family: sans-serif;
        font-size:1.5em;
        margin: 1.6em 0.5em;
        
    }
    .visible{
        transform:translatex(0);
    }
}
@media all and (min-width:783px){
    .navigation__logo{
        margin-left:20px;
    }
   .navigation__link:hover{
        border-bottom: 2px var(--hoverBackground) solid;

    }
    .navigation__link{
        color:white;
    }
    .navigation__link--current{
        background: #00b9ff;
        color:black;
        border-radius: 15px;
        padding:4px 8px;
    }
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background:#0A142F;
        border-radius:50px;
        height:60px;
        box-sizing: border-box;
        margin:1em 1em;
    }
    .navigation__menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: sans-serif;
        font-size: 1.2em;
        width:70vw;
        margin-right:50px; 
    }
}
@media screen and (orientation:landscape) and (max-height:480px) and (max-width:782px){
    .navigation__menu{
        font-size: 0.6em;
    }
}