.profile{
    margin:2em 1em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap:100px;
}
.profile__information{
    max-width: 400px;
    min-width: 200px;
    text-align: center;
    color: #0A142F;

}
.profile__image{
    max-width: 600px;
    min-width: 300px;
    overflow: hidden;

}
.profile__header{
    text-shadow:8px 6px 4px rgb(148, 148, 148);
    font-size: 1.8em;
    margin-bottom: 1em;
    
}

.profile__photo{
    width:100%
}
.profile__content{
    font-size: 1.4em;
}
@media all and (max-width: 940px){
    .profile{
        flex-wrap: wrap;
    }
    .profile__image{
        order:-1;
    }
}