*{
    box-sizing: border-box;
    --background:rgb(195, 197, 202);
    margin:0px;
    font-family: sans-serif;
}

.logo{
    width:2em;
    /* margin-top:0.5em; */
}
.logo img{
    width:100%;
}
.menu-button{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 5px;

}
a{
    color:rgb(15, 15, 15)
}

.nav-menu{
    list-style-type: none;
}
body{
    background-color: rgb(142, 157, 158);
}

li a {
    text-decoration: none;
    color:rgb(27, 27, 27);
}
main{
    margin:2em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:100px;
}
#information{
    max-width: 400px;

    text-align: center;
}
#information h2{
    margin-bottom: 1em;
}
#user-image{
    max-width: 500px;
    overflow: hidden;
}
#user-image img{
    width:100%
}

footer{
    background-color: var(--background);
    display:flex;
    flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   padding:1em;
}
footer .address{
    text-align: center;
}
footer h3{
    margin:1em 0em;
}
footer .social-links{
   min-width:200px;

}
footer .social-links h3{
    text-align: center;
}
footer .social-links div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.7em;
   
}

@media all and (max-width:600px){
    .nav-menu{
        position: fixed;
        inset: 5px 0 auto 30vw;
        background: hsla(0, 0%, 50%, 0.5);
        backdrop-filter:blur(10px);
        transform:translatex(70vw);
        transition: transform 200ms linear;
     

    }
    .menu-button{
        /* margin-top:20px; */
        display: block;
        z-index: 100;
    }
    .page-name a{
        color:white;
      
    }
    img.menu-button:active{
        transform: scale(1.2);
    }
      
   .nav-menu li{
        font-family: sans-serif;
        font-size:1.5em;
        margin: 1.6em 0.5em;
        
    }
    .visible{
        transform:translatex(0);
       
    }
}


@media all and (min-width:601px){
    .logo{
        margin-left:20px;
    }
    .nav-menu li a:hover{
        border-bottom: 2px rgb(41, 40, 40) solid;

    }
    .page-name{
        
        background: hsla(0,0%,40%,0.9);
        border-radius: 15px;
        padding:4px 8px;
    }
    .page-name a{
        color:white;
    }
    .nav-menu li a{
        transition: border 0s linear;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background:rgb(195, 197, 202);
        border-radius:50px;
        height:60px;
    }
    .nav-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: sans-serif;
        font-size: 1.2em;
        width:70vw;
        margin-right:50px;
   
    
    }
}