.testimonials {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 1em;
}
.testimonials__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2em;
  max-width: 70vw;
  gap: 1em;
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:white;
  border-radius: 2em;
  box-shadow: 0px 0px 0.6em black;
  transition: font-size 300ms linear;
}
.testimonials__header {
  font-size: 2em;
  text-align: center;
  color: #0A142F;
  text-shadow: 5px 3px 5px rgb(43, 42, 42);
}
.testimonials__content:hover {
  font-size: 1.5em;
}
.testimonials__content--right {
  align-items: center;
  margin-right: 0px;
  align-self: flex-end;
}
.testimonials__image {
  max-width: 100px;
}
.testimonials__image img {
  width: 100%;
  border-radius: 1em;
}
.testimonials__detail {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: justify;
}
@media all and (max-width: 500px) {
  .testimonials__content {
    flex-direction: column;
  }
  .testimonials__image {
    order: -1;
  }
  .testimonials__detail {
    text-align: justify;
  }
  .testimonials__name {
    text-align: center;
  }
}
